body{
  font-family: sans-serif;
  font-weight: lighter;
}
.content{
  margin: 0 40px;
}
.chart{
  margin: 50px 0;
  width:100%;
  overflow: scroll;
}
.chart svg{
  margin:10px;
}
.bar {
  fill: #26a526;
  cursor: pointer;
}
.bar:hover {
  fill: slateblue;
}
g.axis{
  font-size: 12px;
  font-family: serif;
}

.axis .tick line,
.axis .tick line{
  fill: none;
  stroke: #969696;
  stroke-width:2;
  shape-rendering: crispEdges;
}

.axis .tick:not(:first-of-type):not(:last-of-type) line {
  stroke: #cecece;
  stroke-dasharray: 2,2;
  stroke-width:1;
}

.axis text{
  font-size: 14px;
}

button{
  cursor: pointer;
  padding:10px;
}

.modal{
  display: none;
  position: absolute;
  top:60px;
  left:calc(50% - 150px);
  width:300px;
  padding:20px 40px;
  padding-bottom: 50px;
  border: 2px solid #ddd;
  background: #fff;
  z-index:1000;
}

.modal-header{
  margin-bottom:30px;
}
.modal-header h3{
  font-weight: lighter;
}
.modal-body input{
  display: inline;
  margin: 5px;
  margin-left:0;
  padding: 5px;
  width:100%;
}

.mask{
  display:none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}
