.content{
  margin: 0 40px;
}
.chart{
  margin: 50px 0;
  width:100%;
  overflow: scroll;
}
.chart svg{
  margin:10px;
}
.bar {
  fill: #26a526;
  cursor: pointer;
}
.bar:hover {
  fill: slateblue;
}
g.axis{
  font-size: 12px;
}

.axis .tick line,
.axis .tick line{
  fill: none;
  stroke: #969696;
  stroke-width:2;
  shape-rendering: crispEdges;
}

.axis .tick:not(:first-of-type):not(:last-of-type) line {
  stroke: #cecece;
  stroke-dasharray: 2,2;
  stroke-width:1;
}

.axis text{
  font-size: 14px;
}
